@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

:root{
	--main_color : #2a5ba9;
}

/*바디*/
html.darkmode body {
    height: auto;
    
}

/*로고*/
html.darkmode header .container .row .col-xs-4 img {
    display: none
}

html.darkmode header .row > div:nth-child(1) > a {
    display: block;
    width: 200px;
    height: 50px;
    background: url('https://drive.google.com/uc?id=1wxuFn6fJW4ZGkBIwUpIsc9FRzOSTG9Zq') no-repeat;
    background-size: auto 50px;
    position: relative;
    top: 4px
}

/*헤더바*/
html.darkmode header #header-bar > .row {
    border: none;
    background: var(--main_color);
    border-radius: 10px;
}

html.darkmode header #header-bar #header-top-notice strong.notice-badge {
    border: 2px solid #fff;
    background: var(--main_color)
}

html.darkmode header #header-bar a.dropdown-toggle {
    color: #fff
}

html.darkmode header #header-bar #header-top-notice a {
    color: #fff
}

html.darkmode header-top-notice a {
    color: #fff
}

/*검색영역*/
html.darkmode header #right-search-form > input[type=text] {
    border-radius: 5px;
    border: 3px solid var(--main_color)
}

html.darkmode header #right-search-form > #right-search-btn {
    color: var(--main_color)
}

/*드랍메뉴*/
html.darkmode .dropdown-menu {
    background: var(--main_color);
}

html.darkmode .fa-remove:before,
.fa-close:before,
.fa-times:before {
    color: #fff
}

html.darkmode #favoriteDropdownMenu > li > a > span.name {
    color: #fff
}

html.darkmode .label-default {
    background: none
}

html.darkmode #playgroundDropdownMenu a {
    color: #fff
}

html.darkmode .dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: var(--main_color) !important;
    font-weight: bold;
}

html.darkmode .dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover span {
    color: var(--main_color) !important;
    font-weight: bold;
}

html.darkmode .dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover .fa-remove:before,
.fa-close:before,
.fa-times:before {
    color: var(--main_color) !important;
}

html.darkmode #latestDropdownMenu .name {
    color: #fff
}

html.darkmode .dropdown-menu > li > a {
    color: #fff
}

html.darkmode .dropdown-menu-right > li > a:hover {
    font-weight: normal;
}

/*메뉴*/
html.darkmode #main .menu-wrapper > .header {
    background: var(--main_color);
    border-radius: 5px 5px 0 0;
}

html.darkmode #main .menu-wrapper > a > em {
    color: var(--main_color)
}

html.darkmode #main .menu-wrapper > a > i.fa.fa-square {
    color: var(--main_color)
}

html.darkmode #main .menu-wrapper {
    border: 1px solid var(--main_color);
    border-radius: 7px 7px 0 0;
}

html.darkmode #main .menu-wrapper > a:hover {
    background: var(--main_color)4d;
    color: var(--main_color);
}

html.darkmode #main .menu-wrapper .spacer {
    background: var(--main_color)
}

/*인포영역*/
html.darkmode #board-info {
    height: auto;
}

html.darkmode #board-info #board-info-profile-img {
    width: 5em;
    border-radius: 50%;
    background: #fff;
    border: 5px solid var(--main_color);
}

html.darkmode #board-info #board-info-profile-img:hover {
    border-radius: 15px 50% 50% 15px;
    transition: all 0.5s
}

html.darkmode #board-info .pull-right {
    float: left !important;
    margin-right: 20px;
    position: relative;
    top: -7px;
}

html.darkmode #board-info h1 > a {
    color: var(--main_color);
    font-weight: bold
}

html.darkmode #board-info #board-info-bottom a {
    color: var(--main_color)
}

/*게시판*/
html.darkmode #article-list #article-option-area > #article-option-area-toggle-btn {
    display: none
}

html.darkmode #article-list > .article-list-row > .item > .list-header > span {
    background-color: var(--main_color);
}

/*추천수*/
html.darkmode #article-list > .article-list-row > .item > .list-title > small.comment-count {
    color: var(--main_color);
}

/*댓글수*/
html.darkmode #article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color: var(--main_color)
}

/*게시판닉*/
html.darkmode #article-list #article-list-category {
    background: var(--main_color);
    border-color: var(--main_color)
}

html.darkmode #article-content-wrapper > .header {
    border-color: var(--main_color)
}

html.darkmode #main #main-content > div.frame {
    border: none;
    
}

html.darkmode #article-list>.article-list-row {
	
}
html.darkmode #article-list>.article-list-row:hover {
	
}
html.darkmode #article-list>.article-list-row>.item .list-title>a{
	
}
html.darkmode #article-list>.article-list-row:hover .item>.list-title>a{
	
}

html.darkmode #article-list>.article-list-row>.item>.list-header.v0>span{
	background : border-top: 5px solid var(--main_color)
}

html.darkmode #comment-write-form-area .fr-toolbar{
	border-top:5px solid  var(--main_color);
}

/*인기글*/
html.darkmode #article-list > .article-list-row {
    border-right: none
}

html.darkmode #article-list > .article-list-row:hover {}

/*페이지 넘버*/
html.darkmode .pagination > li > a,
.pagination > li > span {
    color: var(--main_color)
}

html.darkmode .pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background: var(--main_color);
    color: #fff
}

html.darkmode .pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: var(--main_color);
    border-color: var(--main_color);
}

/*버튼*/
html.darkmode .btn-primary:hover {
    background-color: var(--main_color)
}

/*글쓰기*/
html.darkmode .btn-primary {
    background: var(--main_color);
    border: none
}

html.darkmode .btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    background-color: var(--main_color);
    border-color: var(--main_color)
}


/*게시글*/
html.darkmode #article-reply-area > .header h5 {
    color: var(--main_color)
}

/*댓글*/
html.darkmode #article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
    color: var(--main_color)
}

html.darkmode .fr-toolbar {
    border-top: 3px solid var(--main_color)
}

html.darkmode .fr-toolbar.fr-top i:before {
    color: var(--main_color)
}

html.darkmode .fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
    border-top: 4px solid var(--main_color);
}

html.darkmode .reply-menu a {
    color: var(--main_color)
}

html.darkmode .reply-menu a:hover {
    color: var(--main_color)
}

html.darkmode #lastc {
    color: var(--main_color)
}

html.darkmode #lastc:focus,
#lastc:hover {
    color: var(--main_color)
}

/*푸터*/
html.darkmode footer a {
    color: var(--main_color)
}

html.darkmode footer a:hover {
    color: var(--main_color)
}

/*게시판 텝메뉴*/
html.darkmode #article-list #article-list-category > a {
    width: auto;
    border: 2px solid var(--main_color);
    background: var(--main_color);
    border-top: none
}

#article-list #article-list-category #board-home-link-btn{
        color:#000;
	background: var(--main_color)
}

html.darkmode #article-list #article-list-category #board-home-link-btn{
        color:#000;
	background: var(--main_color);
}

html.darkmode #article-list #article-list-category > a.active,
#article-list #article-list-category > a:hover {
    border-color: var(--main_color);
    transition: all 0.5s
}

/*공지사항*/
html.darkmode #article-list > .article-list-row.notice {
    background-color: #fff;
    border: 2px solid var(--main_color);
    border-radius: 10px;
    margin-bottom: 5px;
}

/*상단인원*/
/* #board-info #viewers-area .fa-user:before{
     color: rgba(10,59,84,0);
    content: url(https://static-cdn.jtvnw.net/badges/v1/9533d98f-2688-4fcd-8e04-b8bbd88f1e3a/1);
} */


/*게시물이동*/
html.darkmode #article-neighbor-list {
    padding: 0 1em;
}

html.darkmode #article-neighbor-list div {
    border: 2px solid var(--main_color);
    border-radius: 7px;
    padding: 10px 0;
    margin-bottom: 5px;
}

html.darkmode #article-neighbor-list div .indicator {
    margin-left: 20px
}

html.darkmode .author {
    color: var(--main_color);
}

html.darkmode #favoriteDropdownMenu > li > a > span.label.label-default {
    margin-right: 1px;
}



</style>